.site-header
  display: flex
  top: 10px
  width: 100%
  justify-content: space-between

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 90%
  margin: auto
  border: 2px solid lightgrey
  border-radius: 10px
  background: floralwhite
  font-family: sans-serif
  font-size: 20px
  font-weight: bolder

  *
    color: darkslategrey
    padding: 4px
    display: inline-block
    text-decoration: none
    transition: 0.5s

  *:hover
    color: #ff4b5f

.header-left
  *
    margin-left: 8px

.header-left li:hover, .header-right li:hover
  transform: scale(1.2)

.header-right
  *
    margin-right: 8px

.container
  margin: auto
  width: 70%

.card
  background: floralwhite
  box-shadow: 5px 5px 15px black

.usual-button
  appearance: none
  border: 0
  border-radius: 10px
  background: #4676D7
  color: #fff
  padding: 8px 16px
  transition: 0.5s

  &:hover
    background: #ff4b5f

  &:focus
    outline: none
    box-shadow: 0 0 0 3px #cbd6ee

h3, h4, h5
  margin-bottom: 0

p
  margin-top: 0
  margin-bottom: 0

.one-element
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-row-gap: 12px
  grid-column-gap: 16px
  margin-top: 2rem
  padding: 1rem
  border: 0
  border-radius: 16px
  font-family: sans-serif
  font-size: 24px

.one-element-button
  text-decoration: none
  font-size: x-large
  text-align: center

.left-placed
  text-align: end

.two-column-wide
  grid-column: span 2
